version: '3.3'

services:
    app:
        depends_on:
          - db
        build: 
            context: .
            dockerfile: Dockerfile
        image: utf8-converter:latest
        container_name: utf8-converter-app
        restart: unless-stopped
        ports:
            - "8001:8000"
    db:
        image: mysql:latest
        restart: unless-stopped
        container_name: utf8-converter-db
        command: 
            - --innodb-buffer-pool-size=64M
        environment:
            MYSQL_ROOT_USER: root
            MYSQL_ROOT_PASSWORD: <password>
            MYSQL_DATABASE: utf8_converter
            MYSQL_USER: utf8_converter_app
            MYSQL_PASSWORD: <password>